# Ignore everything by default
*

# Copy these directories
!bin/
!.ATTIC/config/
!src

# Copy these files
!.env
!README.md
!.ATTIC/composer.json
!composer.lock
!docker/webapp/php.ini
!docker/webapp/Caddyfile
