# Ignore everything by default
*

# Copy these directories
!bin/
!config/
!etc/
!migrations/
!public/
!src/
!svn/bin

# Copy these files
!.env
!README.md
!composer.json
!composer.lock
!docker/webapp/Caddyfile
!docker/webapp/php.ini
!symfony.lock

