parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
includes:
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
